.thankyou-info {
  padding: 30px 0 80px;
  
  @media #{$min-sm} {
    padding: 50px 0 95px;
  }

  @media #{$min-lg} {
    padding: 70px 0 110px;
  }

  .info {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    letter-spacing: 1px;
  }
}
